.header {
  background-color: #8d99da;
  background-image: linear-gradient(19deg, #8d99da 0%, #b721ff 100%);
  height: 60px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: white;
}
